#!/usr/bin/make -f

export QT_SELECT=qt5

%:
	dh $@ --with pkgkde_symbolshelper --parallel

override_dh_auto_configure:
	qmake

override_dh_clean:
	rm -f qml/QtCharts/plugins.qmltypes qml/QtCharts/qmldir src/charts/QtCharts.version.in
	dh_clean
